In [201]:
# we will do some data analysis
# we will remove stopwords we will remove reviews which contain less than 3 words as they dont contribute much
# we will use vader , tfidf ,countvectorizer , bow 
# we will see shich words are more in positive and in negative reviews
# <3 neg >3 positive
import warnings
warnings.filterwarnings('ignore')

In [175]:
import pandas as pd
df=pd.read_csv('./train.tsv',delimiter='\t')

In [176]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,"A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .",1
1,2,1,A series of escapades demonstrating the adage that what is good for the goose,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [177]:
df['rev']=df['Sentiment'].apply(lambda x:'pos' if x>3 else 'neg')
df

,PhraseId,SentenceId,Phrase,Sentiment,rev
0,1,1,"A series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .",1,neg
1,2,1,A series of escapades demonstrating the adage that what is good for the goose,2,neg
2,3,1,A series,2,neg
3,4,1,A,2,neg
4,5,1,series,2,neg
...,...,...,...,...,...
156055,156056,8544,Hearst 's,2,neg
156056,156057,8544,forced avuncular chortles,1,neg
156057,156058,8544,avuncular chortles,3,neg
156058,156059,8544,avuncular,2,neg
156059,156060,8544,chortles,2,neg

In [178]:
# #lets remove reviews with only one word
# import nltk
# from nltk.corpus import stopwords
# print(stopwords.words('english'))
# df['SplittedPhrases']=df['Phrase'].apply(lambda x:x if x not in stopwords.words('english') else "")

In [179]:
df['lower']=df['Phrase'].apply(lambda x:x.lower())

In [180]:
df.drop(['PhraseId','SentenceId','Phrase'],axis=1,inplace=True)

In [181]:
df

,Sentiment,rev,lower
0,1,neg,"a series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story ."
1,2,neg,a series of escapades demonstrating the adage that what is good for the goose
2,2,neg,a series
3,2,neg,a
4,2,neg,series
...,...,...,...
156055,2,neg,hearst 's
156056,1,neg,forced avuncular chortles
156057,3,neg,avuncular chortles
156058,2,neg,avuncular
156059,2,neg,chortles

In [182]:
df['tidyphrases']=df['lower'].apply(lambda x:'NaN' if len(x)<3 else x)

In [183]:
df.drop('lower',axis=1,inplace=True)

In [184]:
df

,Sentiment,rev,tidyphrases
0,1,neg,"a series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story ."
1,2,neg,a series of escapades demonstrating the adage that what is good for the goose
2,2,neg,a series
3,2,neg,NaN
4,2,neg,series
...,...,...,...
156055,2,neg,hearst 's
156056,1,neg,forced avuncular chortles
156057,3,neg,avuncular chortles
156058,2,neg,avuncular
156059,2,neg,chortles

In [185]:
 df = df[df['tidyphrases']!='NaN']

In [186]:
df['tidyphrases']

0         a series of escapades demonstrating the adage that what is good for the goose is also good for the gander , some of which occasionally amuses but none of which amounts to much of a story .
1                                                                                                                        a series of escapades demonstrating the adage that what is good for the goose
2                                                                                                                                                                                             a series
4                                                                                                                                                                                               series
5                                                                                                                                 of escapades demonstrating the adage that what is good for the goose
                                                                                                      ...
156055                                                                                                                                                                                       hearst 's
156056                                                                                                                                                                       forced avuncular chortles
156057                                                                                                                                                                              avuncular chortles
156058                                                                                                                                                                                       avuncular
156059                                                                                                                                                                                        chortles
Name: tidyphrases, Length: 155855, dtype: object

In [187]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:x.split())

In [188]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:'NaN' if len(x)<3 else x)

In [189]:
df
# # df['SplittedPhrases']=df['Phrase'].apply(lambda x:x.split())

,Sentiment,rev,tidyphrases
0,1,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose, is, also, good, for, the, gander, ,, some, of, which, occasionally, amuses, but, none, of, which, amoun..."
1,2,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]"
2,2,neg,NaN
4,2,neg,NaN
5,2,neg,"[of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]"
...,...,...,...
156055,2,neg,NaN
156056,1,neg,"[forced, avuncular, chortles]"
156057,3,neg,NaN
156058,2,neg,NaN
156059,2,neg,NaN

In [190]:
 df = df[df['tidyphrases']!='NaN']

In [191]:
df

,Sentiment,rev,tidyphrases
0,1,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose, is, also, good, for, the, gander, ,, some, of, which, occasionally, amuses, but, none, of, which, amoun..."
1,2,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]"
5,2,neg,"[of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]"
7,2,neg,"[escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]"
9,2,neg,"[demonstrating, the, adage, that, what, is, good, for, the, goose]"
...,...,...,...
156050,2,neg,"[the, sadness, and, obsession]"
156051,1,neg,"[sadness, and, obsession]"
156053,2,neg,"[beneath, hearst, 's, forced, avuncular, chortles]"
156054,2,neg,"[hearst, 's, forced, avuncular, chortles]"
156056,1,neg,"[forced, avuncular, chortles]"

In [192]:
df['sentiment']=df['Sentiment'].apply(lambda x:1 if x>3 else 0)

In [193]:
 df.head()

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose, is, also, good, for, the, gander, ,, some, of, which, occasionally, amuses, but, none, of, which, amoun...",0
1,2,neg,"[a, series, of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]",0
5,2,neg,"[of, escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]",0
7,2,neg,"[escapades, demonstrating, the, adage, that, what, is, good, for, the, goose]",0
9,2,neg,"[demonstrating, the, adage, that, what, is, good, for, the, goose]",0

In [194]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [196]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:[item for item in x if item not in stop])

In [197]:
df

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"[series, escapades, demonstrating, adage, good, goose, also, good, gander, ,, occasionally, amuses, none, amounts, much, story, .]",0
1,2,neg,"[series, escapades, demonstrating, adage, good, goose]",0
5,2,neg,"[escapades, demonstrating, adage, good, goose]",0
7,2,neg,"[escapades, demonstrating, adage, good, goose]",0
9,2,neg,"[demonstrating, adage, good, goose]",0
...,...,...,...,...
156050,2,neg,"[sadness, obsession]",0
156051,1,neg,"[sadness, obsession]",0
156053,2,neg,"[beneath, hearst, 's, forced, avuncular, chortles]",0
156054,2,neg,"[hearst, 's, forced, avuncular, chortles]",0
156056,1,neg,"[forced, avuncular, chortles]",0

In [198]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:'NaN' if len(x)<3 else x)

In [199]:
 df = df[df['tidyphrases']!='NaN']

In [202]:
df.head(20)

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"[series, escapades, demonstrating, adage, good, goose, also, good, gander, ,, occasionally, amuses, none, amounts, much, story, .]",0
1,2,neg,"[series, escapades, demonstrating, adage, good, goose]",0
5,2,neg,"[escapades, demonstrating, adage, good, goose]",0
7,2,neg,"[escapades, demonstrating, adage, good, goose]",0
9,2,neg,"[demonstrating, adage, good, goose]",0
27,2,neg,"[also, good, gander, ,, occasionally, amuses, none, amounts, much, story, .]",0
28,2,neg,"[also, good, gander, ,, occasionally, amuses, none, amounts, much, story]",0
31,2,neg,"[good, gander, ,, occasionally, amuses, none, amounts, much, story]",0
32,2,neg,"[gander, ,, occasionally, amuses, none, amounts, much, story]",0
33,1,neg,"[gander, ,, occasionally, amuses, none, amounts, much, story]",0
38,2,neg,"[occasionally, amuses, none, amounts, much, story]",0
43,2,neg,"[occasionally, amuses, none, amounts, much, story]",0
45,2,neg,"[amuses, none, amounts, much, story]",0
47,1,neg,"[none, amounts, much, story]",0
49,1,neg,"[none, amounts, much, story]",0
51,2,neg,"[amounts, much, story]",0
52,2,neg,"[amounts, much, story]",0
53,2,neg,"[amounts, much, story]",0
63,4,pos,"[quiet, ,, introspective, entertaining, independent, worth, seeking, .]",1
64,3,neg,"[quiet, ,, introspective, entertaining, independent]",0

In [203]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:' '.join(item for item in x))

In [206]:
df.head(20)

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"series escapades demonstrating adage good goose also good gander , occasionally amuses none amounts much story .",0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
7,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,"also good gander , occasionally amuses none amounts much story .",0
28,2,neg,"also good gander , occasionally amuses none amounts much story",0
31,2,neg,"good gander , occasionally amuses none amounts much story",0
32,2,neg,"gander , occasionally amuses none amounts much story",0
33,1,neg,"gander , occasionally amuses none amounts much story",0
38,2,neg,occasionally amuses none amounts much story,0
43,2,neg,occasionally amuses none amounts much story,0
45,2,neg,amuses none amounts much story,0
47,1,neg,none amounts much story,0
49,1,neg,none amounts much story,0
51,2,neg,amounts much story,0
52,2,neg,amounts much story,0
53,2,neg,amounts much story,0
63,4,pos,"quiet , introspective entertaining independent worth seeking .",1
64,3,neg,"quiet , introspective entertaining independent",0

In [208]:
df.drop_duplicates('tidyphrases',keep='first',inplace=True)

In [209]:
df

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"series escapades demonstrating adage good goose also good gander , occasionally amuses none amounts much story .",0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,"also good gander , occasionally amuses none amounts much story .",0
...,...,...,...,...
156048,2,neg,suggesting sadness obsession beneath hearst 's forced avuncular chortles,0
156049,2,neg,suggesting sadness obsession,0
156053,2,neg,beneath hearst 's forced avuncular chortles,0
156054,2,neg,hearst 's forced avuncular chortles,0
156056,1,neg,forced avuncular chortles,0

In [211]:
df.head(20)

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,"series escapades demonstrating adage good goose also good gander , occasionally amuses none amounts much story .",0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,"also good gander , occasionally amuses none amounts much story .",0
28,2,neg,"also good gander , occasionally amuses none amounts much story",0
31,2,neg,"good gander , occasionally amuses none amounts much story",0
32,2,neg,"gander , occasionally amuses none amounts much story",0
38,2,neg,occasionally amuses none amounts much story,0
45,2,neg,amuses none amounts much story,0
47,1,neg,none amounts much story,0
51,2,neg,amounts much story,0
63,4,pos,"quiet , introspective entertaining independent worth seeking .",1
64,3,neg,"quiet , introspective entertaining independent",0
67,3,neg,"quiet , introspective entertaining",0
69,3,neg,", introspective entertaining",0
76,3,neg,worth seeking .,0
81,1,neg,"even fans ismail merchant 's work , suspect , would hard time sitting one .",0
82,2,neg,even fans ismail merchant 's work,0
86,2,neg,ismail merchant 's work,0

In [214]:
import string
print(string.punctuation)
punc=string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [217]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:x.split() )

In [220]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:[item for item in x if item not in punc])

In [222]:
df['tidyphrases']=df['tidyphrases'].apply(lambda x:' '.join(item for item in x))

In [224]:
df

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,series escapades demonstrating adage good goose also good gander occasionally amuses none amounts much story,0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,also good gander occasionally amuses none amounts much story,0
...,...,...,...,...
156048,2,neg,suggesting sadness obsession beneath hearst 's forced avuncular chortles,0
156049,2,neg,suggesting sadness obsession,0
156053,2,neg,beneath hearst 's forced avuncular chortles,0
156054,2,neg,hearst 's forced avuncular chortles,0
156056,1,neg,forced avuncular chortles,0

In [225]:
df.drop_duplicates('tidyphrases',keep='first',inplace=True)

In [226]:
df

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,series escapades demonstrating adage good goose also good gander occasionally amuses none amounts much story,0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,also good gander occasionally amuses none amounts much story,0
...,...,...,...,...
156048,2,neg,suggesting sadness obsession beneath hearst 's forced avuncular chortles,0
156049,2,neg,suggesting sadness obsession,0
156053,2,neg,beneath hearst 's forced avuncular chortles,0
156054,2,neg,hearst 's forced avuncular chortles,0
156056,1,neg,forced avuncular chortles,0

In [227]:
df.drop_duplicates('tidyphrases',keep='first',inplace=True)

In [228]:
df

,Sentiment,rev,tidyphrases,sentiment
0,1,neg,series escapades demonstrating adage good goose also good gander occasionally amuses none amounts much story,0
1,2,neg,series escapades demonstrating adage good goose,0
5,2,neg,escapades demonstrating adage good goose,0
9,2,neg,demonstrating adage good goose,0
27,2,neg,also good gander occasionally amuses none amounts much story,0
...,...,...,...,...
156048,2,neg,suggesting sadness obsession beneath hearst 's forced avuncular chortles,0
156049,2,neg,suggesting sadness obsession,0
156053,2,neg,beneath hearst 's forced avuncular chortles,0
156054,2,neg,hearst 's forced avuncular chortles,0
156056,1,neg,forced avuncular chortles,0